---
import { Image } from "astro:assets";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import profileRonny from "../assets/ronny.jpeg";
---

<DefaultLayout title="Ronny Wieckardt — Digital Designer — Rotterdam | NL">
  <header class="header">
    <h1 class="headline">
      Ronny Wieckardt &mdash; Digital Designer &mdash; Rotterdam
    </h1>
  </header>

  <section class="hero">
    <div class="hero-background"></div>
    <div class="hero-brand">
      <div class="brand-mascot">
        <img class="mascot-img" src="/assets/mascot.svg" alt="" />
      </div>
      <div class="brand-logo">
        <img
          class="logo-img-placeholder"
          src="/assets/logo_letter_01.svg"
          alt=""
        />
        <img class="logo-img" src="/assets/logo_letter_01.svg" alt="" />
        <img class="logo-img" src="/assets/logo_letter_02.svg" alt="" />
        <img class="logo-img" src="/assets/logo_letter_03.svg" alt="" />
        <img class="logo-img" src="/assets/logo_letter_04.svg" alt="" />
      </div>
    </div>
  </section>

  <section class="about">
    <div class="column">
      <div class="cb-text-grid">
        <div class="grid-column">
          <p>
            Een ervaren* digital designer uit Rotterdam. Gespecialiseerd in het
            maken van gebruiksvriendelijke digitale producten en diensten van
            begin tot eind.
          </p>
        </div>
        <div class="grid-column">
          <p>
            Mijn expertise omvat strategie, conceptontwerp, prototyping,
            stakeholder management en co-creatie. Ik benader alle projecten
            vanuit het eindgebruikers perspectief.
          </p>
        </div>
        <div class="grid-column">
          <p>
            Zo maak ik op enthousiaste wijze, overtuigende digitale producten
            waar mensen blij van worden en bedrijven op kunnen bouwen.
          </p>
        </div>
      </div>

      <div class="cb-call-to-action">
        <a
          href="mailto:hi@ronny.digital?subject=Projectaanvraag"
          class="box__link button-animation"
          href="#"
        >
          Neem contact op
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </div>
    <div class="column">
      <Image
        class="profile-image"
        src={profileRonny}
        widths={[240, 540, 720, profileRonny.width]}
        sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${profileRonny.width}px`}
        alt="A Picture of Ronny Wieckardt, sitting on the balcony of his office space at Het Industriegebouw Rotterdam"
      />
    </div>
  </section>
  <footer class="footer">
    <p class="legal">
      Ronny&trade; Goudsesingel 136, 3011KD Rotterdam &bull; KVK: 51217805
      &bull; BTW: 173837839B02 &bull;
      <a
        href="/assets/ronny_algemene_voorwaarden.pdf"
        title="Algemene Voorwaarden ronny.digital">Algemene Voorwaarden</a
      >
    </p>
  </footer>
</DefaultLayout>

<style>
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .header {
    padding: 2rem 4rem;
  }
  .headline {
    font-size: var(--fs--2);
    font-family: var(--mono);
    font-weight: normal;
    text-transform: uppercase;
  }
  .hero {
    z-index: 1;
    flex-flow: column;
    align-items: center;
    width: 100%;
    padding: 0 4rem 4rem 4rem;
    display: flex;
    position: relative;
  }
  .hero-brand {
    width: 100%;
  }
  .brand-mascot {
    position: fixed;
    z-index: 2;
    top: -64px;
    left: -64px;
    pointer-events: none;
  }
  .brand-logo {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .logo-img-placeholder {
    opacity: 0;
  }

  .logo-img {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }
  .about {
    display: flex;
    flex-direction: column;
  }
  .cb-text-grid {
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
  }
  .cb-call-to-action {
    padding: 0 4rem;
  }
  .grid-column {
    width: 100%;
  }
  .grid-column p {
    padding: 0 0 1rem 0;
    font-size: var(--fs--1);
    text-wrap: balance;
  }
  .profile-image {
    aspect-ratio: 2/3;
    padding-top: 1rem;
    max-width: 100%;
  }

  @media (width >= 1000px) {
    .about {
      display: flex;
      flex-direction: row;
    }
    .cb-text-grid {
      gap: 2rem;
      flex-direction: row;
    }
    .grid-column {
      padding: 2rem 0;
      border-top: 2px solid var(--brand--secondary);
    }
    .profile-image {
      padding-top: 0;
      max-width: 40vw;
    }
    .column {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  .footer {
    padding: 4rem;
    font-size: var(--fs--2);
    font-family: var(--mono);
    font-weight: normal;
    text-transform: uppercase;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: var(--brand--secondary);
    text-decoration: none;
  }
  a:hover {
    text-decoration: dashed;
  }

  /* SUPER BUTTON */

  :root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --body-color: #393937;
    --accent-color: #f54321;
    --white-color: #fff;
    --box-shadow: 0 0 2px #f54321, 0 0 10px #f54321, 0 0 15px #f54321,
      0 0 20px #f54321;
  }

  /*=============== BASE ===============*/

  body {
    background: var(--body-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .button-animation {
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    color: var(--accent-color);
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
  }
  .button-animation span {
    position: absolute;
    display: block;
  }
  .button-animation span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--accent-color));
    animation: btn-anim1 1s linear infinite;
  }
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,
    100% {
      left: 100%;
    }
  }
  .button-animation span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--accent-color));
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
  }
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }
  .button-animation span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--accent-color));
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
  }
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }
  .button-animation span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--accent-color));
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
  }
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 100%;
    }
  }
  .button-animation:hover {
    background-color: var(--accent-color);
    color: var(--white--accent);
    border-radius: 2px;
    box-shadow: var(--box-shadow);
  }
</style>

<script>
  //@ts-nocheck
  import { gsap } from "gsap";
  import Lenis from "lenis";

  let loadTl = gsap.timeline({
    onStart: function () {
      document.body.style.cursor = "progress";
      setTimeout(function () {
        document.body.style.cursor = "auto";
      }, 1000);
    },
  });

  loadTl.from(
    ".logo-img",
    {
      y: "100%",
      duration: 1.4,
      stagger: { each: 0.04 },
      ease: "expo.inOut",
    },
    0
  );

  const circle = document.querySelector(".brand-mascot");
  const box = document.querySelector(".brand-logo");

  gsap.set(circle, {
    xPercent: 64,
    yPercent: 64,
  });

  box.addEventListener("mousemove", moveCircle);
  box.addEventListener("mouseleave", resetCircle);

  function moveCircle(e) {
    gsap.to(circle, 0.3, {
      x: e.clientX,
      y: e.clientY,
    });
  }

  function resetCircle(e) {
    gsap.to(circle, 0.3, {
      x: -64,
      y: -64,
    });
  }

  const lenis = new Lenis();

  lenis.on("scroll", (e) => {
    console.log(e);
  });

  function raf(time) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);
</script>
