---
import { Image } from "astro:assets";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import profileRonny from "../assets/ronny.jpeg";
---

<DefaultLayout title="Ronny Wieckardt — Digital Designer — Rotterdam | NL">
  <header class="header">
    <h1 class="headline">
      Ronny Wieckardt &mdash; Digital Designer &mdash; Rotterdam
    </h1>
  </header>

  <section class="hero">
    <div class="hero-background"></div>
    <div class="hero-brand">
      <div class="brand-mascot">
        <img class="mascot-img" src="/assets/mascot.svg" alt="" />
      </div>
      <div class="brand-logo">
        <img
          class="logo-img-placeholder"
          src="/assets/logo_letter_01.svg"
          alt=""
        />
        <img class="logo-img" src="/assets/logo_letter_01.svg" alt="" />
        <img class="logo-img" src="/assets/logo_letter_02.svg" alt="" />
        <img class="logo-img" src="/assets/logo_letter_03.svg" alt="" />
        <img class="logo-img" src="/assets/logo_letter_04.svg" alt="" />
      </div>
    </div>
  </section>

  <section class="about">
    <div class="cb-text-grid">
      <div class="grid-column">
        <p>
          Een ervaren* digital designer uit Rotterdam. Gespecialiseerd in het
          maken van gebruiksvriendelijke digitale producten en diensten van
          begin tot eind.
        </p>
      </div>
      <div class="grid-column">
        <p>
          Mijn expertise omvat strategie, conceptontwerp, prototyping,
          stakeholder management en co-creatie. Ik benader alle projecten vanuit
          het eindgebruikers perspectief.
        </p>
      </div>
      <div class="grid-column">
        <p>
          Zo maak ik op enthousiaste wijze, overtuigende digitale producten waar
          mensen blij van worden en bedrijven op kunnen bouwen.
        </p>
      </div>
    </div>

    <Image
      class="profile-image"
      src={profileRonny}
      widths={[240, 540, 720, profileRonny.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${profileRonny.width}px`}
      alt="A Picture of Ronny Wieckardt, sitting on the balcony of his office space at Het Industriegebouw Rotterdam"
    />
  </section>
</DefaultLayout>

<style>
  .header {
    padding: 2rem 4rem;
  }
  .headline {
    font-size: var(--fs--2);
    font-family: var(--mono);
    font-weight: normal;
    text-transform: uppercase;
  }
  .hero {
    z-index: 1;
    flex-flow: column;
    align-items: center;
    width: 100%;
    padding: 0 4rem 4rem 4rem;
    display: flex;
    position: relative;
  }
  .hero-brand {
    width: 100%;
  }
  .brand-mascot {
    position: fixed;
    z-index: 2;
    top: -64px;
    left: -64px;
    pointer-events: none;
  }
  .brand-logo {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .logo-img-placeholder {
    opacity: 0;
  }

  .logo-img {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }
  .about {
    display: flex;
    flex-direction: column;
  }
  .cb-text-grid {
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
  }
  .grid-column {
    width: 100%;
  }
  .grid-column p {
    padding: 0 0 1rem 0;
    font-size: var(--fs--1);
    text-wrap: balance;
  }
  .profile-image {
    aspect-ratio: 2/3;
    padding-top: 1rem;
    max-width: 100%;
  }

  @media (width >= 1000px) {
    .about {
      display: flex;
      flex-direction: row;
    }
    .cb-text-grid {
      gap: 2rem;
      flex-direction: row;
    }
    .grid-column {
      padding: 2rem 0;
      border-top: 2px solid var(--brand--secondary);
    }
    .profile-image {
      padding-top: 0;
      max-width: 40vw;
    }
  }
</style>

<script>
  //@ts-nocheck
  import { gsap } from "gsap";
  import Lenis from "lenis";

  let loadTl = gsap.timeline({
    onStart: function () {
      document.body.style.cursor = "progress";
      setTimeout(function () {
        document.body.style.cursor = "auto";
      }, 1000);
    },
  });

  loadTl.from(
    ".logo-img",
    {
      y: "100%",
      duration: 1.4,
      stagger: { each: 0.04 },
      ease: "expo.inOut",
    },
    0
  );

  const circle = document.querySelector(".brand-mascot");
  const box = document.querySelector(".brand-logo");

  gsap.set(circle, {
    xPercent: 64,
    yPercent: 64,
  });

  box.addEventListener("mousemove", moveCircle);
  box.addEventListener("mouseleave", resetCircle);

  function moveCircle(e) {
    gsap.to(circle, 0.3, {
      x: e.clientX,
      y: e.clientY,
    });
  }

  function resetCircle(e) {
    gsap.to(circle, 0.3, {
      x: -64,
      y: -64,
    });
  }

  const lenis = new Lenis();

  lenis.on("scroll", (e) => {
    console.log(e);
  });

  function raf(time) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);
</script>
